<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>ServletPrincipal</servlet-name>
        <servlet-class>com.formula1.servlet.ServletPrincipal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAjax</servlet-name>
        <servlet-class>com.formula1.servlet.ServletAjax</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletPrincipal</servlet-name>
        <url-pattern>*.f1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAjax</servlet-name>
        <url-pattern>*.ajax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAjax</servlet-name>
        <url-pattern>/ServletAjax</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>inicio.f1</welcome-file>
    </welcome-file-list>
</web-app>
